/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* Colors */
$main: #0C131E;
$surfaces: #202B3B;
$items: #36404e;
$accent: #F15DC6;
$accent-darker: #d6129d;
$white: #FFFAFA;

body {
    background-color: $main;
    font-family: 'Nunito', sans-serif;
    color: $white;
}

a {
    color: $accent;

    &:visited {
        color: $accent-darker;
    }
}

form,
input {
    color: $white !important;
}

.clock-app {
    background: $surfaces;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;

    .city-row{
        .col-time{
            text-align: center;
        }
    }
}

footer {
    margin-top: 30px;
    border-top: 1px solid $items;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
}