/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* Colors */
$main: #0C131E;
$surfaces: #202B3B;
$items: #36404e;
$accent: #F15DC6;
$accent-darker: #d6129d;
$white: #FFFAFA;

body {
    background-color: $main;
    font-family: 'Nunito', sans-serif;
    color: $white;
}

a {
    color: $accent;

    &:visited {
        color: $accent-darker;
    }
}

form,
input {
    color: $white !important;
}

.clock-app {
    background: $surfaces;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 16px;
    padding: 30px;

    .city-row{
        padding-top: 30px;
        padding-bottom: 30px;
        h2{
            margin: 0;
            padding: 0;
        }
        .col-city{
            .col-city-date{
                opacity: 0.5;
            }
        }

        .col-time{
            color: $accent;
            text-align: center;
            font-size: 2em;
        }
    }
}

footer {
    border-top: 1px solid $items;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}